@charset "utf-8";
/* CSS Document */
*
{
	padding:0px;
	margin:0px;
	text-shadow:2px 2px 4px #000;
}
body, html
{
	height:100%;
}
body
{
	background:url(../slike/bg_main1.png) no-repeat;
	background-size:cover;
	color:#FFF;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
}
#sadrzaj
{
	background:rgba(0,0,0,0.8);
	margin:auto;
	width:40%;
	padding:20px;
}
#sadrzaj table tr td
{
	padding:5px;
}
#dugme
{
	background:#06F;
	color:#FFF;
	padding:5px;
	font-size:18px;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
}